<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Hospital Location</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
     
      <section class="text-gray-600 body-font relative" >
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Add Hospital</h1>
          
          </div>
          <div class="lg:w-1/2 md:w-1/2 mx-auto" >
            <div class="flex justify-center items-center">
                <form id="locationForm"  class="w-full max-w-md" >
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="hospitalno" class="leading-7 text-sm text-gray-600">Hospital Number</label>
                  <input type="number" id="hospitalno" name="hospitalno" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="hospitalname" class="leading-7 text-sm text-gray-600">Hospital Name</label>
                  <input type="text" id="hospitalname" name="hospitalname" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="latitude" class="leading-7 text-sm text-gray-600">Latitude</label>
                  <input type="text" id="latitude" name="latitude" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-full">
                <div class="relative">
                  <label for="longitude" class="leading-7 text-sm text-gray-600">Longitude</label>
                  <input type="text" id="longitude" name="longitude" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
             
              <div class="p-2 w-full">
                <button class="flex mx-auto text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg" type="submit">Submit</button>
              </div>
            </div>
        </form>
              <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                <a class="text-red-500" href="fireincident.ejs">firedashboard@email.com</a>
                
                <span class="inline-flex">
                  <a class="text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                  </a>
                  <a class="ml-4 text-gray-500">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>


        <!-- <h1>Add Hospital Location</h1>
        <form id="locationForm">
          
            <div class="form-group">
                <label for="hospitalname">Hospital Name</label>
                <input type="text" class="form-control" id="hospitalname" name="hospitalname" required>
            </div>
            <div class="form-group">
                <label for="hospitalno">Hospital Number</label>
                <input type="number" class="form-control" id="hospitalno" name="hospitalno" required>
            </div>
    
            <div class="form-group">
                <label for="latitude">Latitude:</label>
                <input type="text" class="form-control" id="latitude" name="latitude" required>
            </div>
            <div class="form-group">
                <label for="longitude">Longitude:</label>
                <input type="text" class="form-control" id="longitude" name="longitude" required>
            </div>
            
    
            <button type="submit" class="btn btn-primary">Add Location</button>
        </form> -->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#locationForm').submit(function(event) {
                    event.preventDefault(); 
    
                    const hospitalname = $('#hospitalname').val();
                    const hospitalno = $('#hospitalno').val();
                    const latitude = $('#latitude').val();
                    const longitude = $('#longitude').val();
    
                    const sql = 'INSERT INTO public.hospitals("Name", "HospitalNo", latitude, longitude) VALUES ($1,$2,$3,$4);';
                    const values = [hospitalname,hospitalno,latitude,longitude];
                    console.log(values);
    
                    $.ajax({
                        url: '/addLoc', 
                        method: 'POST',
                        data: { 
                            sql: sql,
                            values: values,
                        },
                        success: function(response) {
                            console.log('Station added successfully');
                        },
                        error: function(xhr, status, error) {
                            console.error('Error adding location:', error);
                        
                        }
                    });
    
                });
            });
        </script>    
    </body>
</html>
