
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #8a72ec;
    color: black;
}  */

body {
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item {
    margin-right: 200px; 
}



form {
    margin: 0;
    padding: 0;
    border: none;
}